/* ************************************************************************** */
/* Header Sections ********************************************************** */
/* ************************************************************************** */
header {
  position: static;
  width: 100%;
  z-index: 9999;
  height: auto;
}

@import 'topbar';
@import 'navbar';