/* ************************************************************************** */
/* Header Sections ********************************************************** */
/* ************************************************************************** */
header {
  position: static;
  width: 100%;
  z-index: 9999;
  height: auto;

  @include isXLarge {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
  }
}

@import 'topbar';
@import 'navbar';