/* ************************************************************************** */
/* Links ******************************************************************** */
/* ************************************************************************** */

/* Topbar ******************************************************************* */
.topbar-link {
  font-family: $font-primary;
  font-size: 0.8125rem;
  font-weight: 700;
  color: $color-main;
  @include linkFade;

  &:hover {
    color: $color-accent;
    text-decoration: none;
    @include linkFade;
  }
}