/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */
.hero {
  background: url('../../images/hero-bg@2x.jpg') center / cover;
  height: calc(100vh - 138.57px);

  @include isXLarge {
    height: calc(100vh - 51px);
  }
}