/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */

/* hero ********************************************************************* */
.hero {
  background: url('../../images/hero-bg@2x.jpg') center / cover;
  height: calc(100vh - 138.57px);
  position: relative;
  padding: 0 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-main;
    mix-blend-mode: multiply;
  }

  @include isMedium {
    height: calc(100vh - 144.57px);
  }

  @include isLarge {
    &::before {
      background-color: transparent;
    }
  }

  @include isXLarge {
    height: 100vh;
  }

  .containerish {
    display: flex;
    align-items: center;
    height: inherit;

    @include isMedium {
      align-items: flex-end;
    }

    .section-info {
      z-index: 50;
      max-width: 825px;

      @include isMedium {
        margin-bottom: 4rem;
      }

      @include isLarge {
        width: 60%;
      }

      @include isXLarge {
        width: 80%;
      }

      @include isXLarge {
        margin-bottom: 8rem;
      }
    }
  }

}

/* search ******************************************************************* */
.search {
  height: auto;

  @include isLarge {
    position: absolute;
    height: 80px;
    top: calc(100vh - 40px);
    width: 100%;
    z-index: 888;
  }

  .containerish {
    background-color: $color-white;
    padding: 1rem 20px;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba($color-black, .1);

    form {
      width: 100%;
      display: grid;
      row-gap: .5rem;

      @include isLarge {
        grid-template-columns: 1fr 100px;
        row-gap: 0;
        column-gap: 1rem;
      }

      input::placeholder {
        @extend .body-copy;
        color: $color-main;
        font-size: 1rem;
      }

      input[type="text"] {
        background-color: #EDF1EF;
        border-radius: 25px;
        border: none;
        padding: .6rem 1rem;
        width: 100%;
        height: 40px;
      }

      button {
        margin: 0;
        height: 40px;
        line-height: none;
        padding: 0;
        background-color: $color-accent;
        border: none;
      }
    }
  }
}

/* about us ***************************************************************** */
.about-us {
  background: url('../../images/about-us-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  @include isMedium {
    padding: 60px 20px;
  }

  @include isLarge {
    padding: 80px 20px 60px 20px;
  }

  @include isXLarge {
    padding: 6rem 20px 60px 20px;
  }

  .containerish {
    display: grid;
    row-gap: 1rem;

    @include isMedium {
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    @include isXLarge {
      row-gap: 3rem;
    }

    .section-info {
      justify-self: center;
      text-align: center;
      max-width: 885px;

      @include isMedium {
        grid-column: 1 / -1;
      }

      .body-copy {
        text-align: center;
      }
    }
  }
}

/* integrative aesthetics *************************************************** */
.int-aes {
  background: url('../../images/int-aesthetics-bg@2x.jpg') center top / cover;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;

  @include isMedium {
    align-items: flex-end;
  }

  @include isLarge {
    height: 978px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-main;
    mix-blend-mode: multiply;

    @include isLarge {
      background: transparent;
    }
  }

  .containerish {
    z-index: 50;

    .section-info {
      @include isMedium {
        margin-bottom: 2rem;
      }

      @include isLarge {
        margin-bottom: 5rem;
        max-width: 648px;
      }
    }
  }
}

/* medical wellness ********************************************************* */
.medical-wellness {
  background: #F4F5F6;
  padding: 40px 20px;

  @include isMedium {
    padding: 60px 20px;
  }

  @include isLarge {
    padding: 60px 0;
  }

  @include isXLarge {
    padding: 80px 0;
  }

  .containerish {
    max-width: 100%;
    display: grid;
    row-gap: 1rem;

    h2 {
      text-align: center;
      padding-bottom: 2rem;
    }

    @include isLarge {
      @include gridCol3;
      column-gap: 0;

      h2 {
        grid-column: 1 / -1;
      }

      .col-left,
      .col-middle,
      .col-right {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          width: 75%;
        }
      }
    }

    @include isXLarge {
      p {
        width: 100%;
        justify-self: flex-start;
        align-self: center;
      }
    }
  }
}

/* autoimmune conditions **************************************************** */
.autoimmune {
  background: url('../../images/auto-immune-bg@2x.jpg') center / cover;
  height: 95vh;
  width: 100%;
  position: relative;
  align-items: center;

  @include isXLarge {
    height: 1000px;
  }

  .containerish {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: calc(100% - 40px);
    background: $color-white;
    border-radius: 45px;
    padding: 2rem;

    @include isMedium {
      bottom: 0;
      transform: translate(-50%, 10%);
    }

    @include isLarge {
      bottom: 0;
      transform: translate(-50%, 20%);
    }

    @include isRetina {
      width: 100%;
      max-width: 1200px;
    }

    .section-info {
      text-align: center;

      p {
        max-width: 1000px;
        margin: 0 auto;
      }
    }
  }
}

/* gi illness *************************************************************** */
.gi-illness {
  background: url('../../images/chronic-illness-bg@2x.jpg') center / cover;
  padding: 20px 0;

  @include isRetina {
    padding: 20px 0 40px 0;
  }

  .containerish {
    width: calc(100% - 40px);

    .section-info {
      margin-top: 2rem;
      text-align: center;

      p {
        max-width: 1000px;
        margin: 0 auto;
      }
    }

    @include isRetina {
      max-width: calc(100% - 40px);
    }
  }
}

/* chronic fatigue ********************************************************** */
.chronic-fatigue {
  background: url('../../images/chronic-fatigue-bg@2x.jpg') center top / cover;
  height: 95vh;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-main;
    mix-blend-mode: multiply;

    @include isMedium {
      background: linear-gradient(to bottom, rgba($color-white, 0),
          rgba($color-black, .8) 95%);
      mix-blend-mode: overlay;
    }

    @include isLarge {
      background: linear-gradient(to bottom, rgba($color-white, 0),
          rgba($color-black, .5) 95%);
      mix-blend-mode: overlay;
    }
  }

  .containerish {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    width: calc(100% - 40px);
    z-index: 50;

    @include isLarge {
      transform: translate(-50%, -20%);
    }


    .section-info {
      p {
        max-width: 590px;
      }

      @include isLarge {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }
    }
  }
}