// Color Theme Vars
$color-main: #7E80A5;
$color-accent: #5AC2C3;
$color-copy: #6F6F6F;
$color-white: #ffffff;
$color-black: #000000;



/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-accent {
  color: $color-accent;
}

.color-copy {
  color: $color-copy;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}